# Andrew Podhorecki
## 10/13/2020 Week 8
### Python Functions Continued

In [1]:
# simple function (reminder)

def full_name(fname, lname):
    return fname + ' ' + lname

In [2]:
full_name('Johnny','Bux')

'Johnny Bux'

In [23]:
# if prime number

def prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range(2, num):
        if num %n == 0:
            return str(num) + " Not prime"
        else:
            return str(num) + " Prime"

In [25]:
prime(113)

'113 Prime'

In [36]:
# function with 2 odds

def min_odds(num1,num2):
    if num1 % 2 != 0 and num2 % 2 != 0:
        return min(num1,num2)
    else:
        print("Not both odd, here is max")
        return max(num1,num2)

In [37]:
min_odds(13,87)

13

In [38]:
min_odds(44,97)

Not both odd, here is max

97

In [39]:
# function if both strings in a text start w same letter (only for txt w 2 strings) (case sensitive)

def same_start(txt):
    wlist = txt.split() #splits the text and returns a list of word
    word1 = wlist[0] #sets word1 to first word in list
    word2 = wlist[1]
    return word1[0] == word2[0] #checks each starting letter in each word

In [42]:
textfile = 'Print Python'

same_start(textfile)

True

In [43]:
same_start("Print Java")

False

In [44]:
# same as above but simplified

def same_start_reduced(txt):
    wlist = txt.split() #splits the text and returns a list of word
    return wlist[0][0] == wlist[1][0] #checks each starting letter in each word

In [45]:
same_start_reduced("Print Python")

True

In [46]:
same_start_reduced("Print Java")

False

In [50]:
# function that will return true if the sum of 2 integers is 30 or one of nums is 30

def is_thirty(n1,n2):
    if n1 + n2 == 30:
        return True
    if n1 or n2 == 30:
        return True
    else:
        return False

In [51]:
is_thirty(10,20)

True

In [52]:
is_thirty(30,43456435)

True

In [53]:
is_thirty(0,18)

False

In [54]:
is_thirty(1298347,30)

True

In [55]:
is_thirty(30,30)

True

In [67]:
# same as above but reduced

def is_thirty_reduced(n1,n2):
    return (n1 + n2 == 30) or (n1 == 30 or n2 == 30)

In [68]:
is_thirty_reduced(10,20)

True

In [69]:
is_thirty_reduced(30,20)

True

In [70]:
is_thirty_reduced(20,20)

False

In [75]:
# capitlaize 1st and 4th letter

def caps_two_letters(word):
    part1 = word[:3].capitalize()
    part2 = word[3:].capitalize()
    return part1 + part2

In [76]:
caps_two_letters("program")

'ProGram'

In [77]:
caps_two_letters('cis')

'Cis'

In [79]:
caps_two_letters('macdonald')

'MacDonald'

In [1]:
#
#
# 10/15/2020
# Reverse a statement
str1 = "I am home"
lst =  str1.split()

In [2]:
lst

['I', 'am', 'home']

In [3]:
lst.reverse()

In [4]:
lst

['home', 'am', 'I']

In [5]:
# will joing elements with a space
' '.join(lst)

'home am I'

In [8]:
def rvStatement(txt):
    lst = txt.split()
    lst.reverse()
    return " ".join(lst)

In [9]:
rvStatement("Hello I am writing now")

'now writing am I Hello'

In [20]:
#other way to reverse
lst = "I am home"
lst = lst.split()
lst = lst[::-1] #instead of reverse, starts at end and goes back
" ".join(lst)

'home am I'

In [25]:
# check if a list has a number 5 next to 5 somewhere on the list

lst = [1,2,3,5,5,8,13,3,5,6,9]

def has_55(lst):
    for i in range(len(lst)-1):
        if lst[i] == 5 and lst[i+1] == 5:
            #compare with slicing: lst[i:i+2] == [5,5]:
            return True
    return False

In [26]:
has_55(lst)

True

In [27]:
# check code 001 in a list

lst = [1,4,5,0,0,1,8] #should return true
lst2 = [0,3,4,0,5,1,8,8,8,13] #also true, order we do not want to matter
lst3 = [0,2,1,0,8,4,3] #false, need order overall to be 001

def check_code(lst):
    code = [0,0,1,"s"]
    for n in lst:
        if n == code[0]:
            code.pop(0) #remove the number at index
    return len(code) == 1

In [29]:
check_code(lst)

True

In [31]:
check_code(lst2)

True

In [32]:
check_code(lst3)

False

In [34]:
code = [0,0,1,"s"]
code.pop(0)
code

[0, 1, 's']

In [35]:
code.pop(0)
code

[1, 's']

In [39]:
# number of arguements
def full_name(fname, lname):
    print(fname + " " + lname)
    
full_name("Jon","Clark")

Jon Clark

In [44]:
# can use any number of parameters, sets values to tuple

def full_name(*names):
    if len(names) == 1:
        print(names[0])
    else:
        print(names[0] + " " + names[1])

In [45]:
full_name("Yes")

Yes

In [46]:
full_name("Yes","Howdy")

Yes Howdy

In [53]:
# sum of 2 elements

def sum_nums(*nums):
    if len(nums) == 1:
        return nums[0]
    else:
        return nums[0] + nums[1]
    #or can simply use return sum(nums)

In [54]:
sum_nums(13,8)

21

In [55]:
sum_nums(13)

13

In [60]:
# key access, order does not matter

def my_kids(child1,child2,child3):
    print("my first child " + child1 + " my 2nd " + child2 + " my 3rd " + child3)

In [61]:
my_kids("Timmy","Jerry","Jose")

my first child Timmy my 2nd Jerry my 3rd Jose

In [62]:
my_kids(child2 = "Jerry", child1 = "Timmy", child3 = "Jose")

my first child Timmy my 2nd Jerry my 3rd Jose